/******************************************************************
Author: Connor Krupp
© Napp Development LLC

Stylesheet: Footer Stylesheet
******************************************************************/

.footer {
  clear: both;
  background-color: $black;
  color: $light-gray;
}

.footer-links {

  ul {

    li {}

  }

} /* end .footer-links */


.copyright {}
